<div id="map"
     leaflet
     [leafletOptions]="mapOptions"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl">
</div>

<table style="border: 1px solid black;">
  <tr>
    <td>
      <div>
        <button (click)="envLicensing()">Licenciamento Ambiental</button>
      </div>
    </td>
    <td>
      <div>
        <button (click)="urbanLicensing()">Licenciamento Urbano</button>
      </div>
    </td>
    <td>
      <div>
        <button (click)="soilUsage()">Uso do solo</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <button (click)="clearLayers()">Limpar</button>
      </div>
    </td>
  </tr>
  <tr>
    Buffer:
    <input type="number" [(ngModel)]="buffer" style="width: 80px;"/>
  </tr>
</table>
