<div id="map"
     leaflet
     [leafletOptions]="mapOptions"
     [leafletLayers]="layers"
     [leafletLayersControl]="layersControl">
</div>

<table style="border: 1px solid black;">
  <tr>
    <th colspan="11">Uso do solo</th>
  </tr>
  <tr>
    <td>
      <button (click)="soilUsage()">Tudo</button>
    </td>
    <td>
      <button (click)="soilUsage(['Habitacional'])">Habitacional</button>
    </td>
    <td>
      <button (click)="soilUsage(['Comercial'])">Comercial</button>
    </td>
    <td>
      <button (click)="soilUsage(['Misto'])">Misto</button>
    </td>
    <td>
      <button (click)="soilUsage(['Industrial'])">Industrial</button>
    </td>
    <td>
      <button (click)="soilUsage(['Especial'])">Especial</button>
    </td>
    <td>
      <button (click)="soilUsage(['Hospitalar'])">Hospitalar</button>
    </td>
    <td>
      <button (click)="soilUsage(['Educacional'])">Educacional</button>
    </td>
    <td>
      <button (click)="soilUsage(['Institucional'])">Institucional</button>
    </td>
    <td>
      <button (click)="soilUsage(['Religioso'])">Religioso</button>
    </td>
    <td>
      <button (click)="soilUsage(['Terreno'])">Terreno</button>
    </td>
    <td>
      <button (click)="soilUsage(['Misto', 'Industrial'])">Misto e Industrial</button>
    </td>
  </tr>
</table>

<br>

<table style="border: 1px solid black;">
  <tr>
    <td>
      <button (click)="envLicensing()">Licenciamento Ambiental</button>
    </td>
    <td>
      <button (click)="urbanLicensing()">Licenciamento Urbano</button>
    </td>
    <td>
      <button (click)="tree()">Arborização</button>
    </td>
  </tr>
</table>

<br>

<table style="border: 1px solid black;">
  <tr>
    <td>
      <button (click)="nonBuiltArea()">Áreas não construídas</button>
    </td>
    <td>
      <button (click)="builtArea()">Áreas construídas</button>
    </td>
    <td>
      <button (click)="figureGround()">Cheios x Vazios</button>
    </td>
  </tr>
</table>

<br>

<table style="border: 1px solid black;">
  <tr>
    <td>
      <button (click)="clearLayers()">Limpar</button>
    </td>
  </tr>
  <tr>
    <td>
      Buffer:
      <input type="number" [(ngModel)]="buffer" style="width: 80px;"/>
    </td>
  </tr>
</table>
